<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.apple.lemon.cauportalcrawlertest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="test.apple.lemon.cauportalcrawlertest.AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="test.apple.lemon.cauportalcrawlertest.activity.caufsm.CAUFSMActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="test.apple.lemon.cauportalcrawlertest.activity.caufsm.CAUWebActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="test.apple.lemon.cauportalcrawlertest.activity.mainfront.TabActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- android:parentActivityName="test.apple.lemon.cauportalcrawlertest.activity.mainfront.TabActivity" -->
        <activity
            android:name="test.apple.lemon.cauportalcrawlertest.activity.BasicPrefActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="test.apple.lemon.cauportalcrawlertest.activity.mainfront.TabActivity" />
        </activity>

        <service
            android:name=".service.CAUIntentService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
